---
---

<p class="odyssey-logo">
	<picture>
		<img
			src="/assets/images/liva-grup.png"
			alt="Liva Grup"
			height="100px"
		/>
	</picture>
</p>

<style>
	.odyssey-logo:hover {
		cursor: pointer;
	}
</style>
